img {
    max-width: 100%;
}

ul {
    list-style: none;
}

ul,
.no-margins {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

ul,
.no-padding {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}

.inline {
    display: inline;
}

.centered {
    text-align: center;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-aligned {
    text-align: left;
}

.flex-center {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
}

.flex-right {
    display: flex;
    align-content: flex-end;
}

.flex-left {
    display: flex;
    align-content: flex-start;
}

.bottom-aligned {
    text-align: end;
}

.no-link-underline {
    text-decoration: none;
}

.contain-all {
    display: table;
    clear: both;
}

.vertical-line {
    float: inline-start;
    height: 85vh;
    width: 0.2vw;
}

.disabled {
    display: none;
}

.block-display {
    display: block;
}

.inline-display {
    display: inline;
}