#title-space-shrink {
    margin-left: -1%;
}

#title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    /* margin-bottom: 1%; */
}

@media (max-width: 600px) {
    #title-container {
        flex-direction: column;
    }
}

#header {
    display: flex;
    justify-content: center;
}

#header-line {
    border: 1px solid rgb(85, 85, 85);
}

#center-content {
    margin-top: -3vh;
}

#left-panel {
    width: 1vw;
    height: 80vh;
    position: relative;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    padding-right: 2%;
    padding-left: 1%;
    padding-top: 0.5vh;
}

#left-panel-numbers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.6vh;
    padding-right: 100%;
}

#right-panel {
    position: relative;
    max-width: 1000px;
}

#top-gradient {
    width: 100%;
    height: 5vh;
}

/*
#bottom-gradient {
    position: relative;
    width: 100%;
    height: 3vh;
    top: -6vh;
}

@media (max-width: 550px) {
    #bottom-gradient {
        top: -50%;
    }
}

@media (max-width: 450px) {
    #bottom-gradient {
        top: -30px;
    }
} */

#language-input {
    padding-left: 1%;
    padding-bottom: 7%;
}

#footer {
    position: absolute;
    background-color: #212121;
    padding-bottom: 3%;
    margin-top: 1%;
}

#footer-details {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1%;
    /* position: fixed;
    top: 97vh; */
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 3vh;
}

/* 
@media (max-width:400px) {
    #footer-details {
        top: 95vh;
    }
} */

#footer-line {
    border: 1px solid rgb(82, 82, 82);
}

#footer-detail-line {
    border: 1px solid rgb(116, 116, 116);
}

#vertical-line-border {
    border-left: 2px solid rgb(61, 61, 61);
    height: 90vh;
    width: 5%;
    margin-top: -2vh;
}

#code-display-area {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 10px;
    margin-right: 0%;
}

#code-id-tab {
    background-color: #2e2e2e;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

    margin-bottom: 1%;
    padding: 1%;
    right: 0%;
    top: 0%;

    min-width: fit-content;
    width: 100px;
    height: 20px;
}

@media (max-width:560px) {
    #code-id-tab {
        width: 70px;
        height: 10px;
    }
}

#name-game-timer {
    background-color: #292929;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 5px;
    position: relative;
    padding: 1%;
    right: 0%;
    top: 0%;

    width: 160px;
    height: 20px;
}

@media (max-width:560px) {
    #code-id-tab {
        width: 90px;
        height: 10px;
    }
}

#name-game-language-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    flex-wrap: wrap;
    row-gap: 8%;
    column-gap: 2%;
}

#credits {
    margin-right: auto;
    padding-left: 1%;
}

#last-footer-link {
    padding-right: 1%;
}