.background {
    background-color: #1E1E1E;
}

.background-2
{
    background-color: #292929;
}

.shadow
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,0));
}

.inversed-shadow
{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0,0,0,0));
}

.console
{
    background-color: rgb(26, 25, 25);
    position: absolute;
}

.hidden-console {
    background-color: rgb(26, 25, 25);
    position: absolute;
    top: 90%;
    bottom:0%;
    width:100%;
    height: 10%;
}

.displayed-console
{
    background-color: rgb(26, 25, 25);
    position: absolute;
    top: 70%;
    bottom:0%;
    width:100%;
    height: 30%;
}

.button {
    background-color: transparent;
    border: none;
    text-align: left;
    padding-left: 0%;
    padding-right: 0%;
    width: 100%;
    height: 15%;
}

.body-text,
.button {
    font-size: 1.5rem;
}

.title-text {
    font-size: 3rem;
    text-align: center;
}

.small-text{
    font-size: 1em;
}

.text-new-line
{
    white-space: pre-wrap;
}

.body-text-shrink
{
    margin-left: -1vw;
}

input{
    background-color: transparent;
    border:none;
    width: 25vw;
    height: 3vh;
}

select
{
    background-color: rgb(42, 42, 43);
    border:none;
    width: 25vw;
    height: 3vh;
}

table{
    table-layout: fixed;
}

th, td{
    background-color: #1E1E1E;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 5px;
    width: 10%;
    height: 10%;
    font-size: 60%;
    overflow: hidden;
    text-align: center;
    text-overflow: clip;
    white-space: wrap;
}
