.background {
    background-color: #1E1E1E;
}

.header {
    background-color: #1E1E1E;
}

.footer {
    background-color: #1E1E1E;
}

.button {
    background-color: transparent;
    border: none;
    text-align: left;
    padding-left: 0%;
    padding-right: 0%;
    width: 70%;
    height: 15%;
}

.body-text,
.button {
    font-size: 3vw;
}

.title-text {
    font-size: 10vw;
    text-align: center;
}