.main-font {
    font-family: 'Courier New', Courier, monospace;
}

.text {
    text-align: center;
    color: rgb(42, 196, 93);
    font-size: 69px;
}

.inline {
    display: inline;
}

.button {
    background-color: black;
    color: rgb(42, 196, 93);
    align-items: center;
    align-self: center;
}

.center-list {
    list-style-type: none;
    align-self: center;
}